*.iml
.gradle/
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
output.json
release/
debug/
*.keystore
!debug.keystore
.navigation/
captures/
.cxx
*.jks
